<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img src="/techrice-logo2-10.png" /></a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/map/<%= site %>"><i class="fa fa-map-marker"></i>&nbsp; 地図</a></li>
            <li><a href="/list/<%= site %>"><i class="fa fa-file-text-o"></i>&nbsp; リスト</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <table class="table table-striped table-hover" id="node-list">
        <thead>
          <tr>
            <th>#</th>
            <th>名前</th>
            <th>経緯度</th>
            <th>地図</th>
            <th>水面</th>
            <th>温度</th>
            <th>湿度</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% data["objects"][0]["nodes"].each do |node| %>
          <tr>
            <td><%= node["id"] %></td>
            <td><a href="/node/<%= site %>/<%= node["alias"] %>"><%= node["alias"] %></a></td>
            <td><%= node["latitude"] %> | <%= node["longitude"]%></td>
            <td><a href="/map/<%= site %>"><i class="fa fa-map-marker"></i> 地図</a></td>
            <td><%= !node["sensors"][1]["latest_reading"].nil? ? node["sensors"][1]["latest_reading"].round(2) : "最新情報ありません" %></td>
            <td><%= !node["sensors"][2]["latest_reading"].nil? ? node["sensors"][2]["latest_reading"].round(2) : "最新情報ありません" %></td>
            <td><%= !node["sensors"][0]["latest_reading"].nil? ? node["sensors"][0]["latest_reading"].round(2) : "最新情報ありません" %></td>
            <td><span class="label label-success"><i class="fa fa-check"></i> Online</span></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
