<!DOCTYPE html>
<html>
  <head>
  <!--<meta http-equiv="Refresh" content="5">-->
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/node.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img src="/techrice-logo2-10.png" /></a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/map/<%= site %>"><i class="fa fa-map-marker"></i>&nbsp; 地図</a></li>
            <li><a href="/list/<%= site %>"><i class="fa fa-file-text-o"></i>&nbsp; リスト</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Node detail | <%= id %></h1>
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12" style="height:572px;">
                  <h2 id="temp"><img src="/temp.png" />&nbsp;<%= temp %> &deg;C</h2>
                  <h2 id="humid"><img src="/water.png" />&nbsp;<%= humid %> %</h2>
                  <h2 id="wind"><img src="/wind.png" />&nbsp;2 m/s</h2>
                  <img id="rice_pic" src="/sadrice.jpg" />
                  <h2 id="height"><%= dist %> cm</h2>
                  <img id="height_pic" src="/height.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">水位データ</h3>
            </div>
            <div class="panel-body">
              <svg class="distance"></svg>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">湿度データ</h3>
            </div>
            <div class="panel-body">
              <svg class="moisture"></svg>
            </div>
          </div>
          <!--
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">温度データ</h3>
            </div>
            <div class="panel-body">
              <svg class="temp"></svg>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
    <script type="text/javascript">
      window.data = {"dist":<%= dist %> ,"humid":<%= humid %> ,"temp":<%= temp %>};
    </script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/node.js"></script>
    <script type="text/javascript" src="/dist.js"></script>
    <script type="text/javascript" src="/temp.js"></script>
    <script type="text/javascript" src="/humid.js"></script>
  </body>
</html>
