<h3>設置したセンサー</h3>
<br />
<ul>
  <% site_list.each do |site_name| %>
  <li><a href="/jp/map/<%= site_name %>"><%= site_name %></a>&nbsp;&nbsp;<i class="fa fa-map-marker"></i></li>

    <% if site_name == site %>
    <ul>
      <% node_list.each do |node_id, node_alias| %>
        <li><a href="/jp/node/<%= site_name %>/<%= node_id %>" class="node_link"><%= node_alias %></a>&nbsp;&nbsp;<i class="fa fa-line-chart"></i></li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</ul>
